<table class="w-full">
  <thead class="bg-blue-600">
    <tr>
      <th class="border border-slate-700">STT</th>
      <th class="border border-slate-700">Mã LHP</th>
      <th class="border border-slate-700">Tên lớp học phần</th>
      <th class="border border-slate-700">Sĩ số tối đa</th>
      <th class="border border-slate-700">Đã đăng ký</th>
      <th class="border border-slate-700">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td class="border border-slate-700">{{id}}</td>
      <td class="border border-slate-700">{{name}}</td>
      <td class="border border-slate-700">{{age}}</td>
      <td class="border border-slate-700">{{address}}</td>
      <td class="border border-slate-700">{{phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>