<div style='display: flex; justify-content: center'>
  <div style='width: 500px'>
    <img
      src='https://res.cloudinary.com/mailmodo/image/upload/v1675767739/editor/p/787f24ac-ab0b-4efe-be9f-44d6f2482c25/d54b04fa098225e8b63f70d803a86a21_meojzk.png'
      alt='' style='width: 100%' />
    <p style='
            font-size: large;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
          '>
      Thank You
      {{name}}
      For Your Purchase
    </p>
    <p>
      Order ID: <strong>{{order_id}}</strong>
    </p>
    <p>
      We are thrilled to have you as a customer! Here, you can explore and shop from a wide range of book titles, from
      classic literature to the latest releases.
    </p>
    <p>
      You will also receive email notifications about promotions, special events, and new book titles based on your
      interests.
    </p>
    <p>
      That's it! You now have all the information you need to get started with our bookstore. If you encounter any
      issues, please
      <a href='' style='color: #098ddf'>contact us</a>
      anytime.
    </p>
    <p>
      Thank you! We are delighted to have you with us.
      <br />
      The Bookstore Team.
    </p>
    <p style='text-align: center; color: gray'>
      Copyright © 2024 The Bookstore.
    </p>
  </div>
</div>