<div style='display: flex; justify-content: center'>
  <div style='width: 500px'>
    <img
      src='https://res.cloudinary.com/mailmodo/image/upload/v1675767739/editor/p/787f24ac-ab0b-4efe-be9f-44d6f2482c25/d54b04fa098225e8b63f70d803a86a21_meojzk.png'
      alt='' style='width: 100%' />
    <p style='
            font-size: large;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
          '>
      Chào Mừng
      {{name}}
      Đến Với Cửa Hàng Sách Của Chúng Tôi
    </p>
    <p>
      Chúng tôi rất vui mừng vì bạn đã tham gia! Tại đây, bạn có thể khám phá và mua sắm từ một loạt các tựa sách đa
      dạng, từ văn học cổ điển đến những cuốn sách mới phát hành.
    </p>
    <p>
      Ngoài ra, bạn cũng sẽ nhận được email thông báo về các chương trình khuyến mãi, sự kiện đặc biệt, và các tựa sách
      mới dựa trên sở thích của bạn.
    </p>

    <p>
      Đã xong! Bạn đã có đủ thông tin để khởi đầu với cửa hàng sách của chúng tôi. Nếu gặp bất kỳ khó khăn nào, hãy
      <a href='' style='color: #098ddf'>liên hệ với chúng tôi</a>
      bất cứ lúc nào.
    </p>
    <p>
      Cảm ơn! Chúng tôi rất vui khi có bạn tham gia
      <br />
      Team của Cửa Hàng Sách.
    </p>

    <a href={{link}} target='_blank' rel='noopener'>Vui lòng xác nhận email</a>
    <p style='text-align: center; color: gray'>
      Copyright © 2024 Cửa Hàng Sách.
    </p>
  </div>
</div>